<?xml version="1.0"?>
<configuration>
    <appSettings>
    <add key="Server=tcp:hercareproj.database.windows.net:1433;Database=HerCareDB;Persist Security Info=False;User ID={{USERNAME}};Password={{PASSWORD}};MultipleActiveResultSets=False;Encrypt=true;TrustServerCertificate=False;" value="http://mysite.com"/>
  </appSettings>
</configuration>